web/verbrauch/dbConn.php
pico_w/my_config_austr10.py
_div/tailwindcss/tailwindcss.exe
web/verbrauch/tmp.html
_div/verification/geckodriver.log
_div/verification/__pycache__/*
_div/verification/staticHtml/index.php.1h.static
_div/verification/staticHtml/index.php.24h.static
_div/verification/staticHtml/index.php.25h.static
_div/verification/staticHtml/index.php.6h.static
_div/verification/staticHtml/login.php.static
_div/verification/staticHtml/settings.php.static
