web/verbrauch/dbConn.php
pico_w/my_config_0001.py
pico_w/my_config_0002.py
pico_w/my_config_0004.py
_div/nodejs/package-lock.json
_div/nodejs/package.json
_div/nodejs/node_modules/*
_div/nodejs/script/*
web/verbrauch/tmp.html
_div/verification/geckodriver.log
_div/verification/__pycache__/*
_div/verification/staticHtml/*
_div/verification/trial.py
_div/verification/my_config.py
