@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {    
	  @apply text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-1.5 text-center mr-2 mb-2;
  } 
  .btn-diff {
	  @apply hover:text-diffColor-700 text-white border border-diffColor-700 bg-diffColor-700 hover:bg-white focus:ring-4 focus:outline-none focus:ring-diffColor-300 font-medium rounded-lg text-sm px-5 py-1.5 text-center mr-2 mb-2;
  }  
  hr {
	  @apply m-1
  }
  .input-text {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-64 p-2.5
  }
  .chkbox-link {
    @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2
  }
  .chkbox-link-label {
    @apply ml-2 text-sm font-medium text-gray-900 dark:text-gray-300
  }
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local(''), url('fonts/raleway-v28-latin-100.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local(''), url('fonts/raleway-v28-latin-200.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('fonts/raleway-v28-latin-300.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('fonts/raleway-v28-latin-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('fonts/raleway-v28-latin-500.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('fonts/raleway-v28-latin-600.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local(''), url('fonts/raleway-v28-latin-800.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('fonts/raleway-v28-latin-700.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: local(''), url('fonts/raleway-v28-latin-900.woff2') format('woff2');
}

#menuToggle {
  display: block;
  position: fixed;
  top: 16px;
  left: 20px;
  z-index: 5;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 6;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 5;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}
#menuToggle span:first-child { transform-origin: 0% 0%; }
#menuToggle span:nth-last-child(2) { transform-origin: 0% 100%; }
#menuToggle input:checked ~ span { opacity: 1; transform: rotate(45deg) translate(-2px, -1px);}
#menuToggle input:checked ~ span:nth-last-child(3) { opacity: 0; transform: rotate(0deg) scale(0.2, 0.2); }
#menuToggle input:checked ~ span:nth-last-child(2) { transform: rotate(-45deg) translate(0, -1px); }
#menu {
  position: absolute;
  width: 180px;
  margin: -100px 0 0 -30px;
  padding: 20px;
  line-height: 1.2;
  padding-top: 105px;
  list-style-type: none;
  border: 1px solid;  
  border-radius: 20px;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  background-color: rgba(255, 255, 255,0.85); 
  border-color: rgb(111, 10, 168);
}
/* bg: 245,217,164. violet-dark: 111,10,168. violet-bright: 170,39,245. green-dark:19,168,89. green-light:15,245,123 */ 
#menu a { background: transparent; color: rgb(111, 10, 168); }
#menu a:hover, #menu a:focus { color: rgb( 170,39,245); }
#menu li { padding: 5px 0; font-size: 18px; margin-bottom: 0rem; }
#menu ul { margin-bottom: 0rem; }
#menuToggle input:checked ~ ul { transform: none; }
.differentColor { color: rgb(19, 168, 89); }
#menuToggle input:checked ~ span { background: rgb(111, 10, 168); }
