@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {    
	  @apply text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-1.5 text-center mr-2 mb-2;
  } 
  .btn-diff {
	  @apply hover:text-diffColor-700 text-white border border-diffColor-700 bg-diffColor-700 hover:bg-white focus:ring-4 focus:outline-none focus:ring-diffColor-300 font-medium rounded-lg text-sm px-5 py-1.5 text-center mr-2 mb-2;
  }  
  hr {
	  @apply m-1
  }
  .input-text {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-64 p-2.5
  }
  .chkbox-link {
    @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2
  }
  .chkbox-link-label {
    @apply ml-2 text-sm font-medium text-gray-900
  }
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local(''), url('fonts/raleway-v28-latin-100.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local(''), url('fonts/raleway-v28-latin-200.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('fonts/raleway-v28-latin-300.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('fonts/raleway-v28-latin-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('fonts/raleway-v28-latin-500.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('fonts/raleway-v28-latin-600.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local(''), url('fonts/raleway-v28-latin-800.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('fonts/raleway-v28-latin-700.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: local(''), url('fonts/raleway-v28-latin-900.woff2') format('woff2');
}
